@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

html {
  scroll-padding-top: 4.5rem;
  font-family: "Poppins", sans-serif !important;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

body {
  position: relative;
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header .button-yellow,
section .button-yellow,
.modal .button-yellow {
  background-color: #f6c822 !important;
  color: #fff;
  padding: 1rem 2rem;
}

header .button-yellow:hover,
section .button-yellow:hover,
.modal .button-yellow:hover {
  background-color: #fbe07b !important;
  color: #fff;
}

h1,
h2,
h4,
h5,
h6 {
  font-weight: bold !important;
}

h6 {
  color: rgb(249, 164, 5);
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.page-section {
  padding: 6rem 0;
}
#about.page-section {
  padding-bottom: 0;
}
#skill.page-section {
  padding-top: 3rem;
}
.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  /* font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  line-height: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page-section .riku-intro img {
  width: 20rem;
  height: 20rem;
  border-radius: 200px;
  object-fit: cover;
  /* 顔全体が見れるように位置を変更 */
  object-position: center top;
  margin-top: 1rem;
  opacity: 1;
  transition: all 0.25s ease;
}

.page-section .riku-intro img:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}
.btn-xl {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(33, 37, 41, 0.97);
  transition: all 0.3s;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #ffc800;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(33, 37, 41, 0.97);
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/topImg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  height: 100vh;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

.skill-card {
  display: flex;
  flex-wrap: wrap;
  /* 中央寄せにするため。gipだとうまくできない。 */
  justify-content: space-between;
}

/* 余ったものを左寄せ */
/* .skill-card::after {
  width: 16%;
  content: "";
  display: block;
  height: 0;
} */

.skill-card .skill-card__item {
  width: 24%;
}

@media (max-width: 772px) {
  .skill-card {
    row-gap: 0.6rem;
  }
  .skill-card .skill-card__item {
    width: 49%;
  }
}

.skill-card .skill-card__item ul {
  padding: 0;
  margin: 0;
}

.skill-card .skill-card__item li {
  list-style: none;
}

.skill-card .card-effect {
  box-shadow: 0 8px 22px rgb(0 0 0 / 20%);
  background-color: #fff;
  padding: 25px;
  padding-bottom: 35px;
  transition: all 0.3s ease;
}

.skill-card .card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.skill-card .card-effect img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}

.skill-card .skill-card__item .JS__icon {
  width: 112px;
  height: 112px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.skill-card .skill-card__item .Others__icon {
  width: 106px;
  height: 106px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.skill-card .card-effect p {
  margin: 0;
}

#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.5);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
}

.portfolio-modal .modal-dialog {
  margin: 2rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content .h2 {
  font-size: 2rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content p {
  margin-bottom: 3rem;
}
.portfolio-modal .modal-content .item-intro-intro {
  text-align: left;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2.5rem;
}

.portfolio-modal .modal-content ul.list-inline .long {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 580px) {
  .portfolio-modal .modal-content ul.list-inline .long {
    width: 320px;
  }
}
@media (max-width: 441px) {
  .portfolio-modal .modal-content ul.list-inline .long {
    width: 240px;
  }
}

.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .modal-content .t-riku img {
  width: 18rem;
  height: 18rem;
  border-radius: 180px;
  object-fit: cover;
  object-position: center top;
}

.portfolio-modal .modal-content .t-riku h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

/* .portfolio-modal .modal-content .t-riku .list-inline {
  display: inline-block;
  text-align: left;
} */

.portfolio-modal .modal-content .list-inline li {
  margin-bottom: 0.5rem;
}

.portfolio-modal .modal-content .t-riku .list-inline li {
  margin-bottom: 0rem;
}

.portfolio-modal .modal-content .t-riku .list-inline li span {
  padding-right: 1rem;
}

/* .portfolio-modal .modal-content .t-riku .chronology {
  display: inline-block;
  text-align: left;
} */

.portfolio-modal .modal-content .chronology .chronology__item {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.portfolio-modal .modal-content .chronology .chronology__item p {
  margin: 0;
  display: inline-block;
  text-align: left;
}

.portfolio-modal .modal-content .modalImg-wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  /* padding: 0 10px; */
  overflow: hidden;
  margin-bottom: 4rem;
}

.portfolio-modal .modal-content .modalImg-wrapper .mainImg {
  border: 1px solid #111;
  margin-bottom: 10px;
  /* height: 50vh; */
}

.portfolio-modal .modal-content .modalImg-wrapper img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  object-fit: cover;
  object-position: center top;
}

.portfolio-modal .modal-content .modalImg-wrapper .subImg {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.portfolio-modal .modal-content .modalImg-wrapper .subImg li {
  width: 24%;
  border: 1px solid #ccc;
  list-style: none;
}

.portfolio-modal .modal-content .modalImg-wrapper .subImg li.current {
  border: 1px solid var(--bs-blue);
}

.portfolio-modal .modal-content .button-flex {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  padding-left: 0;
}

.portfolio-modal .modal-content .button-flex li {
  list-style: none;
}

.portfolio-modal .modal-content .button-flex a {
  width: 7rem;
  margin: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 0rem;
  margin-bottom: 5rem;
}

/* timeline */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after,
.timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4,
.timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4,
  .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.img-brand {
  height: 2.75rem;
}

section#contact {
  background-color: #212529;
  background-image: url("../assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  column-gap: 1.5rem;
}

@media (max-width: 995px) {
  .footer .footer-wrapper {
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  .footer ul {
    column-gap: 1rem;
  }
}

@media (max-width: 441px) {
  .footer ul {
    flex-wrap: wrap;
  }
}

.footer li {
  padding: 0.5rem 0;
}
.footer li:hover a {
  color: #ffc800;
}

.footer a {
  text-decoration: none;
}

/* scrolltop pagetop css */
/*スクロールリンクの形状*/
.scroll-top {
  /*表示位置*/
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s; /*それぞれに0.5秒の変化のアニメーション*/
  /*縦書き*/
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  /*改行禁止*/
  white-space: nowrap;
  /*矢印の動き*/
  animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 25px;
  }
  100% {
    bottom: 20px;
  }
}

/*.scroll-viewクラスがついたら出現*/
.scroll-top.scroll-view {
  opacity: 1;
  visibility: visible;
}

/*リンク全体の aタグの形状*/
.scroll-top a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: block;
}

.scroll-top a:hover {
  color: #b02a37;
}

/*スクロールリンクの形状*/

.js-scroll a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #666;
}

.js-scroll a::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -2.2px;
  width: 1px;
  height: 20px;
  background: #666;
  transform: skewX(-14deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x),
.js-scroll a::before {
  right: -11px;
}

/*ページトップリンクの形状*/

.js-pagetop a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #666;
}

.js-pagetop a::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2.2px;
  width: 1px;
  height: 20px;
  background: #666;
  transform: skewX(14deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x),
.js-pagetop a::before {
  right: 0;
}

/*検証のためのCSS*/
/* section {
  padding: 500px 0;
} */
